
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<%= render 'form', user: @user %>
<br/>
<span> Already have an account? Go to </span>
<%= link_to 'Login Page', login_url %>
</div>
<div class="col-md-4"></div>
</div>