
<div class="container">
  <h2>Government</h2>
</div>

<div class="col-md-6">
  <div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li><a href="#water" data-toggle="tab">Water Quality Report</a></li>
        <li><a href="#flood" data-toggle="tab">Flood Detection Report</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="water">Water quality report goes here</div>
        <div class="tab-pane fade" id="flood">Flood detection report goes here</div>
      </div>
    </div>
  </div>
</div>